.vs
.vscode
._*
*.nvr
*.bat
*.bak

gamelist.txt

obj/
build/
config/
src/dep/generated/

fbneo
roms
joyconfig
xcuserdata
nvram

fbneo.ini
fbneo.dat

projectfiles/visualstudio-2015
projectfiles/visualstudio-2015/m68kmake.exe
projectfiles/visualstudio-2015/m68kmake.obj
projectfiles/visualstudio-2015/fba_vs2015.VC.db
projectfiles/visualstudio-2015/fba_vs2015.VC.VC.opendb
